/*.translate{
	padding-left:10px!important;
	padding-right:10px!important;
}
.translate:hover{
  background: #F5F5F5;
}
#translate-dropdown-menu{
	display:none;
	position:absolute;
}
#translate-dropdown-menu>ul{
	margin:0;
	background-color:#fff;
	border-radius:4px;
	padding:0
}
#translate-dropdown-menu>ul li {
	list-style-type:none;
}*/
.fa-language {
	color:#2e6d9d;
	-webkit-animation: lang-out 8s infinite;
	-webkit-animation-direction: alternate;
}
.flag-icon-br {
	-webkit-animation: brazil-in 8s infinite;
	-webkit-animation-direction: alternate;
	opacity: 0;
}

.flag-icon-ve {
	-webkit-animation: venezuela-in 8s infinite;
	-webkit-animation-direction: alternate;
	opacity: 0;
}

@-webkit-keyframes lang-out {
	0%,20% {opacity:1;}
	34%,100% {opacity:0;}   
}

@-webkit-keyframes brazil-in {
	0%,20% {opacity:0;}
	34%,54% {opacity:1;}
	66%,100% {opacity:0;}
}

@-webkit-keyframes venezuela-in {
	0%,54% {opacity:0;}
	66%,100% {opacity:1;}
}
