/*.translate{
	padding-left:10px!important;
	padding-right:10px!important;
}
.translate:hover{
  background: #F5F5F5;
}
#translate-dropdown-menu{
	display:none;
	position:absolute;
}
#translate-dropdown-menu>ul{
	margin:0;
	background-color:#fff;
	border-radius:4px;
	padding:0
}
#translate-dropdown-menu>ul li {
	list-style-type:none;
}*/

.flag-icon {
	-webkit-animation: flag-down 1s infinite;
	-webkit-animation-direction: alterante;
	-webkit-animation-delay: 2s;
}

@-webkit-keyframes flag-down {
	0%,10% {-webkit-transform:translateY(0);}
	90%,100%{-webkit-transform:translateY(-50);}
    /*from {top: 0px;}
    to {top: 50px;}*/
}
