/*.translate{
	padding-left:10px!important;
	padding-right:10px!important;
}
.translate:hover{
  background: #F5F5F5;
}
#translate-dropdown-menu{
	display:none;
	position:absolute;
}
#translate-dropdown-menu>ul{
	margin:0;
	background-color:#fff;
	border-radius:4px;
	padding:0
}
#translate-dropdown-menu>ul li {
	list-style-type:none;
}*/

.lang-text {
	-webkit-animation: lang-in 5s infinite;
	-webkit-animation-direction: alternate;
	opacity: 0;
}

.flag-icon {
	-webkit-animation: flag-out 5s infinite;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes lang-in {
	0%,10% {opacity:0;}
	90%,100%{opacity:1;}
}

@-webkit-keyframes flag-out {
	0% {opacity:1;}
	10% {opacity:0;}
	/*90%
	100%{opacity:0;}*/
    
}
